
#container{
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#lista{
	margin-left: 39%;
	margin-bottom: 0%;
	width: 20%;
	text-align: left;
	font-family: Arial black;
	font-size: 25px;
	border-style: solid;
	border-radius: 25px;
	padding: 15px 15px 0px 15px;
}
h1{
	color: #FF5F1F;
	font-family: "Great Vibes", cursive;
	font-size: 100px;
	line-height: 160px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 40px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	}
	
#koszykIkona{
	width: 20%;
}

#dwaZaJeden{
	visibility: hidden;
	background-color:#8D0000;
}

#kosz{
	margin-right: 10%;
	border-style: dashed;
	background-color: #FF5F1F;
	width: 20%;
	visibility: hidden;
	float: right;
	clear: both;
	font-size: 25px;
	font-family: Arial;
	transition-timing-function: ease-in-out;
}

#suma{
	text-align: center;
	font-family: Arial black;
	font-size: 40px;
	transition-timing-function: ease-in-out;
}

#przyciski{
	text-align: center;
	margin-left: 40%;
	width: 20%;
}

.przycisk{
	height: 50px;
	border-style: solid;
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

button {
	font-family: Arial black;
	margin-top: 40px;
    border-style: solid;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #FF5F1F;
    text-align: center;
    cursor: pointer;
    width: 100%;
	height: 50px;
    font-size: 18px;
	border-radius: 100px;
	font-weight: bold;
}

#zlozZamowienie{
    background-color:#46BD66;
}

button:hover, a:hover {
    opacity: 0.7;
}

input[type=checkbox]
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#dwadziesciaSto{
    background-color:#8D0000;
}